<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>수정</title>

    <!--부트스트랩-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <!--부트스트랩-->

    <style>
        a:link { color: black; text-decoration: none;}
        a:visited { color: black; text-decoration: none;}
        a:hover { color: black; text-decoration: none;}
     
        .footer{
            position:fixed;
            bottom: 0;
            width: 100%;
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row mt-3">
        <div class="col text-center mt-3 mb-3 font-weight-bold h3">
            <a href="{%url 'main'%}">
                Blog
            </a>
        </div>
    </div>
</div>
<div class="container mt-5">
    <form action="/ud/{{blog.id}}" method="GET">
         <div class="row">
             <select class="form-control form-control-sm col-2" name="lan">
                 <option value="{{blog.lan}}" selected hidden>{{blog.lan}}</option>
                 <option value="Django">Django</option>
                 <option value="Python">Python</option>
                 <option value="html/css">html/css</option>
                 <option value="Js/Jquery">Js/Jquery</option>
             </select>
         </div>
         <div class="row mt-3 border-bottom">
             <input type="text" class="container-fluid border-0 w-100 h3 mb-3 mt-3" name="title" value="{{blog.title}}">
         </div>
         <div class="row mt-3">
             <textarea name="body" class="container-fluid border-0" cols="300" rows="30">{{blog.body}}</textarea>
         </div>       
 </div>
 <div class="container-fluid footer bg-light d-flex justify-content-center">
     <input type="submit" class="btn btn-dark rounded-pill pr-4 pl-4 mt-3 mb-3" value="완료"> 
 </div>
 </form>
</body>
</html>


